.searchIn {
    font-size: 2em;
    margin-top: 3em;
    
}
.container  {
    margin-top: 2em;
}
.ingredients {
    font-size: 10em;
}
html,
body {
    height: 100%;
    margin: 0;
}
.footer, 
.push {
    height: 50px;
    
}
.footer {
    line-height: 50px;
    padding: 0 20px;
    width: 100%;
  }

  .container {
    min-height: 75%;
  
    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -50px;
  }
  /* .footer, */
  /* .push { */
    /* height: 50px; */
  /* } 